<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>易商户支付测试</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container" style="padding-top:70px;">
    <div class="col-xs-12 col-sm-10 col-lg-8 center-block" style="float: none;">
        <div class="panel panel-primary">
            <div class="panel-body">
                <form name="alipayment" action="/pay" method="post" target="_blank">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-barcode"></span></span>
                        <input class="form-control" placeholder="商户订单号" value="${date(),'yyyyMMddhhmmss'}"
                               READONLY name="WIDout_trade_no"
                               type="text" required="">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-shopping-cart"></span></span>
                        <input class="form-control" placeholder="商品名称" value="易商户小微支付测试~" name="WIDsubject" type="text"
                               READONLY required="">
                        <input type="text" name="body" value="Bigger than bigger" hidden>
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-yen"></span></span>
                        <input class="form-control" placeholder="付款金额" value="1" name="WIDtotal_fee"
                               type="text"
                               READONLY required="">
                    </div>
                    <br>
                    <center>
                        <div class="btn-group btn-group-justified" role="group" aria-label="...">
                            <div class="btn-group" role="group">
                                <button type="radio" name="type" value="Native" class="btn btn-success">Native 扫码
                                </button>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="radio" name="type" value="JSAPI" class="btn btn-info">JSAPI支付</button>
                            </div>
                        </div>
                        <br> <br>
                        <div class="btn-group" role="group">
                            <input type="button" class="btn btn-info" value="点击进入：订单查询、关闭、退款三合一页面"
                                   onclick="javascrtpt:window.location.href='/toAPIInterface'"/>
                        </div>

                    </center>
                    <style>
                        div + p {
                            display: none;
                        }
                    </style>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>